@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 30px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
    background: #fff;
}

#marquee {
    height: 20px;
    z-index: 999;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #bfa7b5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 170px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.1s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: #fff;
    border-radius: 2px;
    padding: 5px;
    background-color: #000;   
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url('img/plane1.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat; 
    height: 450px; 
}
#hero .slide{
    padding: 60px;
    margin-left: 40px; 
}

#hero .slide .button {
    margin-top: 60px;
}

/*
#hero img {
    width: 400px;
    height: 550px;
    padding: 10px;
    margin: 15px;
    border: 1px solid;
    border-radius: 20px;
}

*/

#hero h4{
    padding-bottom: 15px; 

}

#hero button{
    background-image: url('img/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#welcome {
    width: 100%;
}

#services {
    text-align: center;
    
}

#services .pro-container {
    display: flex;
    
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

#services .pro-container .pro {
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#services .pro img {
    width: 100%;
    border-radius: 20px;
}
#services .pro-container .pro .des {
    text-align: start;
    padding: 10px 0;
}

#services .pro-container .pro .des span {
    font-weight: 500;
}
#services .pro-container .pro p {
    text-align: left;
}

#services .pro-container .pro button {
    background-color: #bfa7b5;
    color: #fff;
}

#services .pro-container .pro button:hover {
    background-color: #000;
    color: #fff;
}




#partners {
   text-align: center;
   margin: 40px;
}

#partners p {
    margin-bottom: 30px;
    padding: 20px;
}
#partners .airlines {
    display: flex;
    justify-content: space-between;
}

#partners .airlines img {
    width: 70px;
    height: 60px;
}

#divider {

    margin: 40px;
        border-top: 15px solid #bfa7b5;
        border-radius: 5px;
      
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f0f1;
    border-radius: 20px;
}

footer .col {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   justify-content:space-evenly;
}

footer .col:nth-child(1) {
align-items: flex-start;
}

footer .logo {
    width: 150px;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 700;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/*about page*/
#page-header {
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header.about-header {
    background-image: url('img/banner.png');
}

#page-header.about-header p,
#page-header.about-header h2 {
    color: #fff;
}

#about-head {
    display: flex;
    align-items: center;
}

#page-header a,
#page-header i {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

#about-head img {
    width: 50%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about-head div {
    padding-left: 40px;
}

#statement .value{
    margin-left: 100px;
}

#statement .value p {
    font-weight: 600;
}

#statement .container {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#statement .container .mission {
    width: 40%;
    border-right: 1px solid #000;
    padding-right: 10px;
}

#statement .container .vision {
    width: 40%;
    padding-left: 0px;
}

#client {
    margin: 40px;   
}

#client .clients{
    width: 80%;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

#client  .our-clients h2 {
    font-size: 1rem;
    margin-left: 60px;
    font-weight: 600;
}


#client .clients div {
    width: 150px;
    padding: 20px 20px;
    margin: 20px;
    background: #cce7d0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#client .clients div:hover {
    background: coral; 
}

#client .clients div p {
    font-size: 14px;
    color: #000;
}

#client .clients div img {
    width: 40%;
    
}

/*services*/
#meet-us {
    display: flex;
    justify-content: space-between;
}

#meet-us .best {
    width: 60%;
    background-image: url('img/people.jpeg');
    background-repeat: no-repeat;
    height: 400px;
    padding: 10px;
    margin-left: 70px;
    margin-right: 50px;
    border-bottom-left-radius: 100px;
}

#meet-us .best h3 {
    font-size: 1rem;
    font-weight: 800;
    padding-top: 200px;
   color: #fff;
   
}

#meet-us .card{
    width: 35%;
    border: none;
    margin-right: 40px;
    justify-content: space-between;
}

#meet-us .card .price, 
#meet-us .card .vip{
    width: 80%;
    background-color: #bfa7b5;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

#meet-us .card .price h4,
#meet-us .card .vip h4 {
    color: #fff;
}

#meet-us .card .price p,
#meet-us .card .vip p {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

#meet-us .card .peace{
    width: 80%;
    background-color: #b49d36;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

#meet-us .card .peace h4 {
    font-size: 1rem;
    color: #000;
}

#meet-us .card .peace p {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}


.navbar .dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    
    color: white;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    font-size: 10px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  


  #airport-protocol,
  #airline-ticketing,
  #car-hire {
 
    width: 90%;
    padding: 30px;
    margin: 50px;
    
  }

  #airport-protocol .meet,
  #airport-protocol .luggage {
    width: 100%;
    
  }
  #airport-protocol .meet .meet-greet{
    display: flex;
    width: 100%;
  }

  #airport-protocol .luggage {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
  }

  #airport-protocol .luggage .handling {
    width: 50%;
    margin-right: 40px;
  }

  #airport-protocol .luggage .lounge {
    width: 50%;
  }

  #airport-protocol .custom {
    padding-top: 40px;
  }

  #car-hire h4,
  #airline-ticketing h4,
  #airport-protocol h4 {
    padding-top: 20px;
  }

  #contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}


#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2, 
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details map {
    width: 40%;
    height: 400px;
}

#contact-details map iframe {
    width: 90%;
    height: 90%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input, 
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}





@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
       color: #1a1a1a;
       font-size: 24px;
       padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #hero {
        height: 70vh;
        padding: 0px 80px;
        background-position: top 30% right 30%;
    }

    #hero .slide {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hero button {
        
        padding: 14px 80px 20px 60px;
        font-size: 12px;
    }

    #services .pro {
        margin: 15px;
    }

    #services .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-direction: column;
       
    }

    #services .pro-container .pro {
        width: 100%;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 20%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* contact */
    
    #form-details {
        padding: 20px;
    }

    #form-details form {
        width: 50%;
    }

    #contact-details .map {
        width: 80%;
    }

    #contact-details .details {
        width: 100%;
        padding: 10px;
    }
    
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px 20px;
    }

    #marquee {
        width: 620px;
    }
    #header {
        width: 620px;
        padding: 0;
    }


    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }


    #hero button {
        
        padding: 16px 80px 14px 65px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 12px;
    }

    #welcome {
        margin: 50px;
        padding-top: 20px;
    }

    #services .pro {
        width: 100%;
    }

    #services .pro-container {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        justify-content: center;
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding:40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    /* small product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    
    /* cart page */

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }
    
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}
